<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot-Topics</title>
    <script src="https://kit.fontawesome.com/7140a04a28.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/main.css">
    

</head>
<body>

   

    <header class="masthead">
        <div class="container">

            <img class="intro" src="../img/head.jpg">
            <h1></h1>
            <p class="tagline">What's Hot Now</p>
        </div>
    </header>

    <nav class="navbar">
        <div class="container">
            <div class="nav-content">

                <ul class="nav-links">
                    <li class="nav-button"><a href="home.html" class="nav-button1">Home</a></li>
                    <li class="nav-button"><a href="portfolio.html" class="nav-button2">Portfolio</a></li>
                </ul>
            </div>    
        </div>
   </nav>
   
    <main class="main-content">

        <figure>
            <img src="../img/joy.jpg" alt="Me" /> 
            <figcaption>This is a simple picture of me.</figcaption>
        </figure>

        <figure>
            <img src="../img/Joy_poster.jpg" alt="Poster" /> 
            <figcaption>This is a poster i created for an assignment.</figcaption>
         </figure>


        <figure>
            <img src="../img/cat2.jpg" alt="Favourite" /> 
            <figcaption>This is a picture i took that has become my favorite.</figcaption>
         </figure>

        <figure>
            <img src="../img/happyjoy.jpg" alt="Me again" /> 
            <figcaption>This is another picture of me.</figcaption>
         </figure>

        <figure>
            <img src="../img/Black flora1024_1.jpg" alt="Logo" /> 
            <figcaption>This is a logo i created for a flower shop during a project.</figcaption>
         </figure>

        <figure>
            <img src="../img/Jy.jpg" alt="post card" /> 
            <figcaption>This is a postcard mailer i created for myself.</figcaption>
         </figure>

        <figure>
            <img src="../img/Joy2.jpg" alt=" post card 2" /> 
            <figcaption>This is a simple picture of me.</figcaption>
         </figure>
    </main>


    <footer>

        <div class="footer">
            <h3>Social Media</h3>

            <ul class="end">
            <li><a href="contact.html"><i class="fa-brands fa-instagram"></i></a></li>
            
            <li><a href="contact.html"><i class="fa-brands fa-facebook"></i></a></li>
            
            <li><a href="contact.html"><i class="fa-brands fa-twitter"></i></a></li>
            </ul>
        </div>
            
            <div>
                <p class="last"> Terms & Privacy<p>
                <p class="last"> Copyright &copy; 2023 Hot-Topics </p>
            </div>
            
            <div>
                <h3>Contact Us</h3>
                <p class="last"> Number: 000-000-0000 <br>
                E-mail: hot-topics@gmail.com</p>
                
            </div>
        <script src="js/script.js"></script>
        
    </footer>
</body>
</html>
